---
---

<p class="zefi-logo">ZEFI <span class="zefi-symbol">{'{'};{'}'}</span></p>

<style>
	.zefi-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-sans);
		font-size: 1.25rem;
		color: var(--theme-primary);
		letter-spacing: 2px;
		font-weight: bold;
		display: flex;
		align-items: center;
		gap: 0.25rem;
	}
	.zefi-symbol {
		font-size: 1rem;
		opacity: 0.8;
	}
	.zefi-logo:hover {
		opacity: 0.9;
		cursor: pointer;
	}
</style>
